.loading-earth-jump {
    /* animation: pulse 2s ease 0s infinite normal none; */
    animation: jump 1s ease 0s infinite normal;
    /* animation: rotateTranslate 5s ease-in-out 0s infinite normal none; */
  }
  .loading-earth-translate {
    animation: rotateTranslate 5s ease-in-out 0s infinite normal none;
  }
  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    50% {
      transform: translateY(0);
    }
    60% {
      transform: translateY(-15px);
    }
    80% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes rotateTranslate {
    0% {
      transform: translateX(-120px) rotate(0deg);
      /* transform: rotate(0deg); */
    }
    50%{ transform: translateX(120px) rotate(360deg); }
    100% {
      transform: translateX(-120px) rotate(0deg);
      /* transform: rotate(360deg); */
    }
  }